.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: white;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: #282c34;
  border-bottom: black solid 1px;
}

.App-link {
  text-decoration: none;
  color: inherit;
}
